{% extends 'base.html' %}
{% block content %}

 
<div class="container my-5" > 

    <form method="POST" action="">
        <div class="input-group mb-3 my-2 mx-2">
            <span class="input-group-text">Enter Budget</span>
            <input type="text" class="form-control" aria-label="Enter Your Budget">
            <span class="input-group-text">.00</span>
        </div>
        <div class="input-group mb-3 my-2 mx-2">
            <span class="input-group-text">Enter Amount for  Apparel</span>
            <input type="text" class="form-control" aria-label="Enter Your Budget">
            <span class="input-group-text">.00</span>
        </div>
        <div class="input-group mb-3 my-2 mx-2">
            <span class="input-group-text">Enter Amount for Food</span>
            <input type="text" class="form-control" aria-label="Enter Your Budget">
            <span class="input-group-text">.00</span>
        </div>
        <div class="input-group mb-3 my-2 mx-2">
            <span class="input-group-text">Enter Amount for Travel</span>
            <input type="text" class="form-control" aria-label="Enter Your Budget">
            <span class="input-group-text">.00</span>
        </div>
        <div class="input-group mb-3 my-2 mx-2">
            <span class="input-group-text">Enter Amount for Entertainment</span>
            <input type="text" class="form-control" aria-label="Enter Your Budget">
            <span class="input-group-text">.00</span>
        </div>
        <div class="input-group mb-3 my-2 mx-2">
            <span class="input-group-text">Enter Amount for Education</span>
            <input type="text" class="form-control" aria-label="Enter Your Budget">
            <span class="input-group-text">.00</span>
        </div>        

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock %}